{#
/**
 * @file
 * HEADER paragraph template.
 *
 * @todo replace current parallax/video libraries with ONE single library,
 *       that supports both images and video!
 */
#}
{% set parallax = campaign.enable_parallax %}
{%
set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  'paragraph--background-' ~ campaign.background.type|clean_class,
]
%}

{# Attach library if Parallax is enabled #}
{% if parallax %}
  {{ attach_library('tieto_admin/parallax') }}
{% endif %}
{% if campaign.background.type == 'video' %}
  {{ attach_library('tieto_admin/iphone-inline-video') }}
{% endif %}

<div{{ attributes.addClass(classes) }}>
  <div class="background">

    {# Header background #}
    {% if parallax %}
    <div class="background-wrapper parallax" data-rellax-speed="-7">
    {% else %}
    <div class="background-wrapper">
    {% endif %}

      {% if campaign.background.type == 'image' %}
        <div class="background-image" style="background-image: url({{- campaign.background.url -}})"></div>
      {% elseif campaign.background.type == 'video' %}
        <video class="background-video" autoplay muted loop webkit-playsinline src="{{ campaign.background.url }}" poster="{{ campaign.background.poster }}"></video>
      {% endif %}

    </div>

    {# Header content within the container #}
    <div class="paragraph-inner">
      {{ content }}
    </div>

  </div>
</div>
