{%
  set classes = [
    'block',
    'block-contact-us',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes).setAttribute('id', 'contact-us') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
