<header class="content-header clearfix">
  <div class="layout-container">
    <a class="logo" href="{{ base_path }}" title="{{ site_name }}">{{ site_name }}</a>
    {{ page.header }}
  </div>
</header>

<main class="page-content clearfix" role="main">
  <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>

  {{ page.content }}
</main>