<header class="content-header clearfix">
  <div class="layout-container">
    <a class="logo" href="{{ base_path }}" title="{{ site_name }}">{{ site_name }}</a>
    {{ page.header }}
  </div>
</header>

<main class="page-content clearfix" role="main">
  <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>

  <div class="parallax" data-parallax="scroll" data-bleed="50" data-position="0px -50px" data-image-src="/themes/tieto_admin/images/samuel-l-jackson-pulp-fiction-2880x1620.jpg">
    <div class="inner">
      <h1>Say 'Field Collection' again! I dare you...</h1>
      <p>This page has been created with the great Drupal 8 Paragraphs module, which allows content creators to easily create pages with different blocks.</p>
    </div>
  </div>

  {{ page.content }}
</main>