{%
set classes = [
	'paragraph',
	'paragraph--type--' ~ paragraph.bundle|clean_class,
	view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
{% set enableParallax = content.field_enable_parallax['#items'].getValue()[0]['value'] == '1' %}
{% set background = file_url(content.field_background_image['#items'].entity.uri.value) %}

<div{{ attributes.addClass(classes) }} {% if enableParallax %}data-parallax="scroll" data-image-src="{{ background }}"{% else %}style="background: url({{ background }}) no-repeat center center; background-size: cover;"{% endif %}>
  <section class="paragraph-inner">
  	{{ content.field_title }}
  	{{ content.field_secondary_title }}
  	{{ content.field_lead_text }}
  	{{ content.field_call_to_action }}
  </section>
</div>