{%
set classes = [
	'paragraph',
	'paragraph--type--' ~ paragraph.bundle|clean_class,
	view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

{{ attach_library('tieto_admin/background-video') }}

<div{{ attributes.addClass(classes) }}>
  <section id="video-outer">
    <div id="video-wrap">

      <video id="parallax-video" loop muted autoplay>
          <source src="{{ video.path }}" type="{{ video.mime }}">
      </video>

      <div class="paragraph-inner">
      	{{ content.field_title }}
      	{{ content.field_secondary_title }}
      	{{ content.field_lead_text }}
      	{{ content.field_call_to_action }}
      </div>

    </div>
  </section>
</div>