{#
/**
 * @file
 * Default theme implementation to display a marketo_form field.
 *
 * Available variables:
 * - forms: field items:
      - subscription_url
      - munchkin_id
      - form_id
 * - entity: items getEntity
 *
 * @see campaing_pages_theme()
 *
 * @ingroup themeable
 */
#}
{% for form in forms %}
    <script src="//{{ form.subscription_url }}/js/forms2/js/forms2.js"></script>
    <script src="https://www.linkedin.com/autofill/js/autofill.js" type="text/javascript" async></script>
    <script type="IN/Form2" data-form="mktoForm_{{ form.form_id }}" data-field-firstname="FirstName" data-field-lastname="LastName" data-field-phone="MobilePhone" data-field-email="Email" data-field-company="Company" data-field-title="Title" data-field-city="City" data-field-state="State" data-field-country="Country" data-field-zip="ZipCode"></script>
    <form id="mktoForm_{{ form.form_id }}"></form>
        {% if entity.field_enable_confirm_message.value and entity.rendered_confirmation_message %}
            <script>
            MktoForms2.loadForm("//{{ form.subscription_url }}", "{{ form.munchkin_id }}", {{ form.form_id }}, function(form) {
                form.onSuccess(function(values, followUpUrl) {
                    form.getFormElem().hide();
                    document.getElementById('marketo_confirmform_{{ form.form_id }}').style.visibility = 'visible';
                    return false;
                });
            });
            </script>
            <div id="marketo_confirmform_{{ form.form_id }}" style="visibility: hidden;">{{ entity.rendered_confirmation_message }}</div>
        {% else %}
            <script>
            MktoForms2.loadForm("//{{ form.subscription_url }}", "{{ form.munchkin_id }}", {{ form.form_id }});
            </script>
        {% endif %}
{% endfor %}
