{#
/**
 * @file
 * HEADER paragraph template.
 *
 * @todo replace current parallax/video libraries with ONE single library,
 *       that supports both images and video!
 */
#}
{%
set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  'paragraph--background-' ~ parade.background.type|clean_class,
]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="background">

    {# Header background #}
    {% if view_mode != 'preview' %}
      <div class="background-wrapper{{ parade.enable_parallax ? ' parallax' : '' }}">
        {% if parade.background.type == 'image' %}
          <div class="background-image" style="background-image: url({{- parade.background.url -}})"></div>
        {% elseif parade.background.type == 'video' %}
          <video class="background-video" autoplay muted loop playsinline src="{{ parade.background.url }}" poster="{{ parade.background.poster }}"></video>
        {% endif %}
      </div>
    {% endif %}

    {# Header content within the container #}
    <div class="paragraph-inner">
      {{ content }}
    </div>

  </div>
</div>
