{%
set classes = [
	'paragraph',
	'paragraph--type--' ~ paragraph.bundle|clean_class,
	view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

{{ attach_library('parade/parallax') }}

<div{{ attributes.addClass(classes) }} data-parallax="scroll" data-image-src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" style="min-height: {{ content.field_minimum_height[0]['#markup'] }}">
  <section class="paragraph-inner">
    {{ content.field_text_demo }}
  </section>
</div>
