{%
set classes = [
	'paragraph',
	'paragraph--type--' ~ paragraph.bundle|clean_class,
	view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
{% set titles = content.field_tab_titles['#items'].getValue() %}
{% set tabs = content.field_tab_contents['#items'].getValue() %}

{{ attach_library('parade/responsive-tabs') }}

<div{{ attributes.addClass(classes) }}>
	<section class="paragraph-inner">
	    {{ content.field_title }}
	    {{ content.field_lead_text }}
	    <div class="r-tabs-container">
			<ul>
			    {% for title in titles %}
					<li><a href="#tab-{{ loop.index }}">{{ title.value }}</a></li>
			    {% endfor %}
			</ul>
		    {% for tab in tabs %}
				<div id="tab-{{ loop.index }}">{{ tab.value|raw }}</div>
		    {% endfor %}
	    </div>
	</section>
</div>
